@import '../node_modules/normalize.css/normalize.css';
@font-face {
  font-family: 'Jost';
  src: url('./assets/fonts/Jost-VariableFont_wght.ttf'), format('truetype');
  font-display: fallback;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  --light-color: #ffffff;
  --primary-color: #444b58;
  --secondary-color: #646464;
  --tertiary-color: #b2b5bb;
  --link-onlight-color: #b2b5bb;
  --link-hover-onlight-color: #444b58;
  --link-ondark-color: #ffffff;
  --link-hover-ondark-color: #c4c4c4;
  --button-main-bgcolor: #f14f4f;
  --button-hover-bgcolor: #8c2828;
  --button-disabled-bgcolor: #f8afaf;
  --item-hover-bgcolor: #f6f6f6;
  --header-bgcolor: #484283;
  --footer-bgcolor: #444b58;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Jost, sans-serif;
  margin: 0;
  color: var(--primary-color);
}
